body {
	display:block;
	margin:0;
}

.middle {
	display:flex;
	height:70vh;
}
.col-left, .col-right {
	margin-top:20px;
	display:block;
	justify-content:center;
	width:33.3vw;
}
 #outer-circle {
	background-color:red;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	position: relative;
 }
 #inner-circle {
	position: absolute;
	background: #C0B9AF;
	border-radius: 50%;
	height: 105px;
	width: 105px;
	top: 50%;
	left: 50%;
	margin-left: -52px;
	margin-top:-52px;
 }
 span{
    background: none repeat scroll 0 0 #F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-size: 20px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: -80px;
    left:-70px;
    display:none;
    padding:0 20px;
    font-family: 'Halant';
}

p{
    margin:30px -50px;
    width:200px;
	text-align:center;
    position:relative;
    cursor:pointer;
    font-size:30px;
	font-weight:bold;
	font-family: 'Dancing Script';
}

p:hover span{
    display:block;
	width:350px;
}

.left {
	margin-left:95px;
}
.right {
	margin-left:260px;
}
.top {
	height:15vh;
	background-color:red;
}
.bottom{
	background-color:blue;
	height:15vh;
}
.center {
	width:33.4vw;
	background-color:pink;
}
